[Unit]
Description=VNC proxy for LXC containers
After=syslog.target network.target

[Service]
Type=simple
User=vnclxc
Group=vnclxc
Environment=PVE_VNC_TICKET=___VNCPASSWD___
ExecStart=/usr/bin/vncterm -timeout 9999999999999 -notls -rfbport ___VNCPORT___ -c /opt/anastasia-api/vnclxc-wrapper.sh ___CONTAINER_NAME___
Restart=always
CapabilityBoundingSet=~
KillMode=control-group
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
